html,body {
  height: 100%;
}

.product-box {
  background-color: rgb(200, 245, 148);
  padding: 5px;
  border: 2px solid rgb(211, 221, 207);
  border-radius: 3px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
}

#category-section {
  padding: 7px;
  border: 2px solid burlywood;
  border-radius: 3px;
  margin: 10px;
}

#category-section h1 {
  padding: 7px;
  color: rgb(107, 86, 58);
  margin: 10px;
  min-height: 100%;
}

.category-box {
  background-color: rgb(78, 76, 70);
  padding: 0px 8px!important;
  border: 2px solid rgba(71, 60, 48,0.1);
  border-radius: 3px;
  color:rgb(236, 202, 158);
}

.App {
  padding: 30px 20px;
}

.row {
  margin: 0!important;
}

.form-control {
  border: 2px solid burlywood!important
}